@import './base/variables';
@import './components/textos';

@font-face {
  font-family: 'CrosstenSoft';
  src: url('~/assets/fonts/CrosstenSoftBlack.otf') format('opentype');
  font-weight: bold;
}

* {
  font-family: 'CrosstenSoft', sans-serif !important;
}