.tituloSecundario {
  font-size: 48px;
  color: #071c87;
  font-weight: 700;
  line-height: 55px;
}
.subTitulo {
  font-size: 24px;
  color: #071c87;
  font-weight: 600;
  padding: 0 10% 0 10%;
  margin-top: 49px;
  line-height: 32px;
}
.textoImagenPc {
  font-size: 75px;
  color: white;
  font-weight: 500;
  line-height: 78px;
  padding: 0 10% 0 10%;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.82);
}
.textoImagenMobile {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  padding: 0 10% 0 10%;
  color: white;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.82);
  margin-bottom: 150px;
}
.parrafo {
  font-size: 18px;
  font-weight: normal;
  padding: 20px 10% 0 10%;
  line-height: 32px;
}
.parrafoTechnology {
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
  color: #4d4d4d;
}
