// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// Size
$xxsmallsize: 16px;
$xsmallsize: 18px;
$smallsize: 20px;
$mediumsize: 24px;
$largesize: 40px;
$xlargesize: 48px;
$xxlargesize: 75px;

// Colors
$bluePrimary: #071c87;
$brownText: #4d4d4d;
$whiteBorder: #c9c6c6;

